/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url('../images/invman.png');
  background-repeat: no-repeat;
  background-size: cover;  Cover the entire screen */
  margin: 0;
  font-family: 'Garamond', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

/* App Container */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  height: 80%;
  /* background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 12px; */
  overflow: hidden;
  border-radius: 25px;
}

/* Box layout for left image and right form */
.box {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 25px;
}

.image-container {
  flex: 1;
}

.logo-img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
  border-radius: 0 0 0 12px;
}

.form-container {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: rgb(88, 87, 87);
  color: rgb(0, 0, 0);
  border-radius: 18px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

button:disabled {
  background-color: #a1a1a1;
  cursor: not-allowed;
}

.text-button {
  background: none;
  border: none;
  color: #3498db;
  cursor: pointer;
  font-size: 14px;
}

.text-button:hover {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toggle-container button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
}
